/*main.html*/
.container{
  background-color: #888888;
  margin: 0 auto;
}

.header{
  padding: 10px;
  background-color: #000000;
  color: white;
  text-align: center;
}

.controls{
padding: 10px;
}

#ifr{
  display: table;
  margin: 0 auto;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 2.5%;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: right;
}

.btn-main{
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-flex;
  color: black;
  background-color: #82706d;
  font-family: Monserrat, sans-serif;
  font-weight: 800;
  font-size: .85em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;  
}

/*ctrl.html*/
.btn {
  margin-top: 5px;
  margin-bottom: 5px;
  display: block !important;
  color: black;
  background-color: #82706d;
  font-family: sans-serif;
  font-weight: 800;
  font-size: .85em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  position: relative;
}

.btn:active {
  -webkit-transform: scale(0.80);
  -moz-transform: scale(0.80);
  -ms-transform: scale(0.80);
  -o-transform: scale(0.80);
  transform: scale(0.80);
}

/*index.html*/
.center{
  display: table;
  margin: 0 auto;
}

.container-start{
  width: 300px;
  height: 300px;
  margin-top: 200px;
  border: 2px solid black;
  border-radius: 5px;
}

.indexTitle{
  font-family: Montserrat, sans-serif;
  margin: 10px;
}

#input-start{
  margin-top: 5px;
}

.btn2{
  margin-top: 10px;
  height: 20px;
  width: 100px;
  background-color: #311105da;
  border-radius: 5px;
  cursor: pointer;
  border-color: black;
  text-align: center;
}