/*Global*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
h1{
  font-family: Montserrat, sans-serif;
}

.center{
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.btn {
  font-family: Roboto;
  font-weight: 600;
  height: 2.5em;
  width: 10em;
  background-color: white;
  border: solid 1px black;
  border-radius: 2px;
  cursor: pointer;
  align-items: center;
  text-align: center;
}

.btn:active {
  -webkit-transform: scale(0.80);
  -moz-transform: scale(0.80);
  -ms-transform: scale(0.80);
  -o-transform: scale(0.80);
  transform: scale(0.80);
}

/*main.html*/
#container{
  display: inline-block;
  margin-left: 2.5em;
}


#header{
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: center;
}

.controls {
  display: flex;
  margin: 1em;
  justify-content: space-evenly;
  align-items: center;
  height: 3em;
}

#yt{
  display: flex;
  height: 2em;
  margin-left: 0 auto;
  width: 42em;
  text-align: center;
}

#ifr{
  display: flex;
  margin: 0 auto;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 2.5%;
  width: 100%;
  border-top: 1px black;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  color: white;
  text-align: right;
}

/*ctrl.html*/
.cinput{
  margin: 5px;
  padding: 5px;
  
}


/*index.html*/
.container-start{
  width: 25em;
  height: 16em;
  margin-top: 200px;
  border: 0.5px dotted black;
  border-radius: 5px;
}

.indexTitle{
  margin-top: 1.5em;
  font-size: xx-large;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
}

#input-start{
  width: 23em;
  margin-top: 4em;
  margin-bottom: 2em;
}


